@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: var(--background-color);
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

p {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

:root {
    --background-color: #30312C;
    --primary-color: #FFCC00;
    --para-color: white;
    --animationSpeed: 40s;
}




nav {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

label.logo {
    color: var(--para-color);
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
    display: flex;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: var(--primary-color);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
}

a.active,
a:hover {
    color: var(--para-color);
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: var(--para-color);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        z-index: 100;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--background-color);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: var(--para-color);
    }

    #check:checked~ul {
        left: 0;
    }
}

.btn {
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--background-color);
    font-size: 1em;
    font-weight: 500;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.5s ease;
}

#pricingbtn {
    background: linear-gradient(90deg, rgba(255, 204, 0, 1) 50%, rgba(0, 0, 0, 1) 50%);
    background-size: 200% auto;
}

#pricingbtn:hover {
    color: white;
    background-position: 100% 0;
}








/* Hero Section */





#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    height: 90vh;
    position: relative;
    background-color: #DFE8C0;
    overflow-x: hidden;
}

#hero::before {
    content: '';
    position: absolute;
    top: 15%;
    left: 0;
    width: 20%;
    height: 70%;
    background-color: #E4E458;
}

#hero::after {
    content: '';
    position: absolute;
    top: 10%;
    right: -10%;
    width: 35%;
    border-radius: 50%;
    height: 80%;
    background-color: #E4E458;
}

.lead {
    text-align: center;
    width: 60%;
    z-index: 2;
}

.hero-desc {
    z-index: 2;
    width: 60%;
    text-align: center;
}

.btn-group {
    z-index: 2;
    margin-top: 3em;
    gap: 1.5em;
    display: flex;
}

#btn1 {
    color: #FFEDE1;
    background: linear-gradient(90deg, var(--background-color) 50%, #FFEDE1 50%);
    background-size: 200% auto;
}

#btn1:hover {
    color: black;
    background-position: 100% 0;
}

#btn2 {
    background: linear-gradient(90deg, #FFEDE1 50%, var(--background-color) 50%);
    background-size: 200% auto;
}

#btn2:hover {
    color: #FFEDE1;
    background-position: 100% 0;
}


#btn2 {
    background-color: #FFEDE1;
    color: var(--background-color);
}

.videodivs {
    z-index: 3;
    position: relative;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbtn,
.pausebtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: 4;
    background: transparent;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s all ease;
}

.videodiv {
    z-index: 3;
    position: absolute;
    top: -50px;
    width: 50%;
    border-radius: 10px;
}










/* Testimonial Section */







.testimonial-div {
    color: var(--para-color);
    margin-top: 25em;
    display: flex;
    flex-direction: column;
}

.testimonial-div h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.testimonial-div h2 span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-divs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 40%;
    max-width: 500px;
    align-items: stretch;
}

.reel {
    border-radius: 10px;
    border: 3px solid #FFEDE1;
    width: 30%;
}

.testimonial {
    color: var(--background-color);
    background-color: #C5E9B2;
    border-radius: 10px;
    padding: 1em;
    height: auto;
    gap: 2em;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial-author {
    display: flex;
    gap: 1em;
    align-items: center;
}

.testimonial-author h3 {
    font-size: 2em;
}

.testimonialimg {
    width: 40px;
    height: 40px;
}

.rating {
    display: inline;
    font-size: 0.8em;
    background-color: var(--primary-color);
    padding: 1px 8px;
    border-radius: 15px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}

@keyframes scroll1 {
    0% {
        transform: translateX(calc(-250px * 7));
    }

    100% {
        transform: translateX(0);
    }
}

.stop-animation {
    animation-play-state: paused !important;
}



.slider {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slide-track {
    /* margin-top: 8em; */
    animation: scroll var(--animationSpeed) linear infinite;
    display: flex;
    gap: 1em;
    width: calc(270px * 20);
}

.slide-track1 {
    margin-top: 2em;
    animation: scroll1 var(--animationSpeed) linear infinite;
    display: flex;
    gap: 1em;
    width: calc(270px * 20);
}








/* Stats Section */


.stats {
    width: 100%;
    color: var(--para-color);
    padding: 6em 0em;
    gap: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.stats-count {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-div>h3 {
    width: 50%;
    font-weight: 600;

}

.stats-count h2 {
    color: var(--primary-color);
}






/* Reel Features Testimonials */








.reel-featurediv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slider-container {
    position: relative;
    border-radius: 10px;
    padding: 5em 7em;
    /* height: 100vh; */
    background-color: #DFE8C0;
    width: 98%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide1 {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide1-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.5s ease;
}

.slide1-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slide1-left .testimonial-author img {
    width: 80px;
}

.reel-features {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.feature-list {
    display: flex;
    gap: 2em;
    align-items: center;
}

.feature-list p {
    font-size: 1.2em;
    font-weight: 500;
}

.featureimg {
    width: 30px;
}

.slide1-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.videoreel {
    border-radius: 10px;
    width: 50%;
    position: relative;
    z-index: 3;
}

.slide1-right::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    transform: rotate(6deg);
    background-color: #30312c;
    z-index: 2;
}

.slide1-right::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    transform: rotate(12deg);
    background-color: #4c4c49;
    z-index: 1;
}

.slide1>h2 {
    margin-top: 1em;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}

.feature-author-img {
    width: 100%;
    height: auto;
}

.arrow-indicator {
    z-index: 3;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.arrow-indicator button {
    background: none;
    border: none;
    color: white;
    border-radius: 50%;
    padding: 8px 8px;
    line-height: 24px;
    background-color: var(--background-color);
    font-size: 24px;
    cursor: pointer;
}





/* Process */




.process {
    padding: 6em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.process h2 {
    width: 80%;
    text-align: center;
}

.process-divs {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.processnum {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #FFEDE1;
    padding: 1em;
}

.processimg {
    width: 90%;
}

.process-div h4 {
    font-size: 1.4em;
}

.process-div {
    position: relative;
    padding: 2em 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-radius: 10px;
    background-color: #E8C0E4;
    color: black;
}

.second-process-div {
    width: 100%;
}

.social-content-divs {
    margin-top: 6em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1em;
}

.social-content {
    border-radius: 10px;
    padding: 1.5em 1em;
    background-color: #FFEDE1;
    color: var(--background-color);
}

.social-content h4 {
    color: #7A746D;
}









.use-our-world {
    padding: 4em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2em;
    position: relative;
}

.use-our-world::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: #FFCC00;
}

.use-our-world::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background-color: #FFCC00;
}

.userlists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.userlist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: white;
}

.usernum {
    padding: 1em;
    font: caption;
    border-radius: 50%;
    background-color: #E8C0E4;
    color: var(--background-color);
}









/* Pricing Div */





.pricingdivs {
    margin: 6em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.pricing-div {
    width: 100%;
    border-radius: 40px;
    padding: 1em;
    background-color: #232323;
    display: flex;
    gap: 0.5em;
    color: white;
    flex-direction: column;
}

.highlight {
    margin-top: 0.5em;
    padding: 2px 10px;
    background-color: #E4E458;
    width: fit-content;
    border-radius: 30px;
    color: black;
}

.priceimg {
    margin: 1em 0em;
    width: 40%;
}

.price-feature-lists {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.price-feature-list {
    display: flex;
    align-items: center;
    gap: 1em;
    color: white;
}

.price-feature-list p:first-child {
    display: inline;
    font: caption;
    border-radius: 50%;
    padding: 5px 10px;
    color: #CEC8BB;
    background-color: #30312C;
}

.price-btn {
    margin-top: 1em;
    border-radius: 20px;
    background-color: #E4E458;
    padding: 5px 20px;
    border: none;
    outline: none;
    font-size: 1.3em;
    width: fit-content;
    cursor: pointer;
}

.price2 {
    background-color: #CEC8BB;
    color: black;
}

.price2btn {
    background-color: #30312C;
    color: white;
}

.price3 {
    background-color: #5E5E5E;
    color: white;
}






/* Calls Div */



.calls-div {
    display: flex;
    padding: 4em 2em;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    align-items: stretch;
}

.calls-div .btn {
    width: fit-content;
    background-color: var(--background-color);
    color: white;
}

.call1-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call1-div h4 {
    font-size: 1.4em;
    font-weight: 500;
}

.callimg {
    width: 60px;
}

.call-div {
    width: 100%;
    background-color: #E4E458;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}







/* FAQ - DIV */






.faq-div {
    display: flex;
    background-color: #CEC8BB;
    padding: 2em;
}

.faq-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.faq-footer {
    display: flex;
    flex-direction: column;
}

.faq-img {
    width: 40px;
}

.accordion {
    width: 50%;
}

.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #30312C;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #30312C;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #30312C;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #30312C;
    border: 1px solid #30312C;
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded='true'] {
    color: #30312C;
}

.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion button[aria-expanded='true']+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
}





@media (max-width: 858px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.3em;
    }

    p {
        font-size: 0.8em;
    }

    nav {
        position: fixed;
        z-index: 4;
        background-color: var(--background-color);
        top: 0;
        left: 0;
        /* backdrop-filter: blur(20px); */
    }

    #pricingbtn {
        font-size: 0.8em;
        padding: 0.8rem;
    }

    .lead {
        width: 95%;
    }

    .hero-desc {
        width: 95%;
    }

    #hero::after {
        right: -50%;
        width: 70%;
    }

    .videodiv {
        width: 90%;
        top: -70px;
    }

    .playbtn,
    .pausebtn {
        transform: translate(-50%, 50%);
    }

    .testimonial-div {
        margin-top: 10em;
    }

    .testimonial-div h2 span img {
        width: 50%;
    }

    .reel {
        width: 35%;
    }

    .reel-features {
        margin-top: 1em;
        gap: 2em;
    }

    .slide-track,
    .slide-track1 {
        width: calc(270px * 15);
    }

    .stats-div {
        width: 95%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stats-div>h3 {
        width: 100%;
        text-align: center;
    }

    .stats-count p {
        font-weight: 500;
    }

    .slider-container {
        padding: 2em;
    }

    .slide1 {
        justify-content: space-around;
        gap: 1em;
    }

    .slide1>h2 {
        font-size: 1.5em;
    }

    .slide1-div {
        flex-direction: column;
    }

    .slide1-left {
        width: 100%;
    }

    .slide1-left .testimonial-author img {
        width: 50px;
    }

    .feature-list p {
        font-size: 1em;
    }

    .featureimg {
        width: 20px;
    }

    .slide1-right {
        width: 100%;
        margin-top: 5em;
    }

    .slide1>h2 {
        margin-top: 0em;
    }

    .videoreel,
    .slide1-right::before,
    .slide1-right::after {
        width: 80%;
    }

    .testimonial-author h3 {
        font-size: 1.5em;
    }

    .process h2 {
        width: 100%;
    }

    .process-divs {
        flex-direction: column;
    }

    .social-content-divs {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .userlists {
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
    }

    .userlist {
        justify-content: flex-start;
    }

    .pricingdivs {
        margin: 3em 2em;
        flex-direction: column;
        gap: 2em;
    }

    .calls-div {
        padding: 2em;
        flex-direction: column;
    }

    .call1-div h4 {
        font-size: 1.2em;
    }

    .faq-div {
        flex-direction: column;
        gap: 2em;
    }

    .accordion button {
        font-size: 1em;
    }

    .faq-left,
    .accordion {
        gap: 2em;
        width: 100%;
    }
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    height: 80px;
    background-color: var(--primary-color);
    transition: all 1s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    transform: scale(1.5);
    background-color: #555;
}

::-webkit-scrollbar-track {
    background-color: #252522;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar {
    width: 0.5rem;
}



/* Preloader */




#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #151515;
    z-index: 800;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.no-js #preloader,
.oldie #preloader {
    display: none;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 6px;
    padding: 0;
    display: inline-block;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

#preloaderlogo {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 140px;
    height: auto;
    padding: 0;
    display: inline-block;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

#loader>div {
    content: "";
    background: #FFFFFF;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

#loader>div:nth-of-type(1) {
    left: 15px;
}

#loader>div:nth-of-type(3) {
    left: -15px;
}

/* dots jump */
.dots-jump>div {
    -webkit-animation: dots-jump 1.2s infinite ease;
    animation: dots-jump 1.2s infinite ease;
    animation-delay: 0.2s;
}

.dots-jump>div:nth-of-type(1) {
    animation-delay: 0.4s;
}

.dots-jump>div:nth-of-type(3) {
    animation-delay: 0s;
}

@-webkit-keyframes dots-jump {
    0% {
        top: 0;
    }

    40% {
        top: -6px;
    }

    80% {
        top: 0;
    }

}

@keyframes dots-jump {
    0% {
        top: 0;
    }

    40% {
        top: -6px;
    }

    80% {
        top: 0;
    }

}

/* dots fade */
.dots-fade>div {
    -webkit-animation: dots-fade 1.6s infinite ease;
    animation: dots-fade 1.6s infinite ease;
    animation-delay: 0.4s;
}

.dots-fade>div:nth-of-type(1) {
    animation-delay: 0.8s;
}

.dots-fade>div:nth-of-type(3) {
    animation-delay: 0s;
}

@-webkit-keyframes dots-fade {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0.2;
    }

    80% {
        opacity: 1;
    }

}

@keyframes dots-fade {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0.2;
    }

    80% {
        opacity: 1;
    }

}

/* dots pulse */
.dots-pulse>div {
    -webkit-animation: dots-pulse 1.2s infinite ease;
    animation: dots-pulse 1.2s infinite ease;
    animation-delay: 0.2s;
}

.dots-pulse>div:nth-of-type(1) {
    animation-delay: 0.4s;
}

.dots-pulse>div:nth-of-type(3) {
    animation-delay: 0s;
}

@-webkit-keyframes dots-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    40% {
        -webkit-transform: scale(1.1);
        transform: scale(1.3);
    }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

}

@keyframes dots-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    40% {
        -webkit-transform: scale(1.1);
        transform: scale(1.3);
    }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

}